rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Autoriser la création de documents dans la collection "quotes"
    match /quotes/{quoteId} {
      allow create: if true;
      // Sécurité : Personne ne peut lire, lister, modifier ou supprimer via le web
      allow read, update, delete: if false;
    }
  }
}